.icons {
  display: flex;
  justify-content: space-between;
}

.icons > div {
  width: 20vw;
  height: 100px;
}
.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon span {
  text-align: center;
  margin-top: 15px;
}
