

.screen-header {
  z-index: 100;


  background-color: whitesmoke;
  color: black;
  position: fixed;
  height: 80px;
  top: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: inherit;
  box-sizing: border-box;

  padding: 0px var(--horizontal-padding);
}

.screen-header__text {
  font-size: 40px;
  font-weight: 600;
  animation : bounce 0.6s ease-in-out forwards;
}
.screen-header__icons {
  white-space: nowrap;
  animation : bounce 0.6s ease-in-out forwards;
}

.screen-header__icons span {
  padding-left: 10px;
  
}

.screen-header__icons>span i:hover{
  animation: dance 1s linear infinite;
}

.screen-header__icons>span:last-child i:hover{
  animation: rotate360 2s linear infinite;
}
