/*locate icon in status-bar*/
.status-bar {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: inherit;
  box-sizing: border-box;
  top: 0px;
  background-color: whitesmoke;
}
.status-bar__column {
  display: flex;
  width: 33%;
  justify-self: center;
  align-items: center;
}
.status-bar__column:nth-child(1) span {
  margin-right: 10px;
  white-space: nowrap;
}
.status-bar__column:nth-child(2) {
  justify-content: center;
}
.status-bar__column:nth-child(3) {
  justify-content: flex-end;
}

/*status-bar icon margin*/
.fa-undo {
  margin-right: 5px;
}
.fa-battery-three-quarters {
  margin-left: 5px;
}
.fa-bolt {
  margin-left: 5px;
}
