/*second column - time, badge*/
.user-component-chat .user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  font-size: 15px;
}
.user-component__time {
  margin-bottom: 10px;
}