

.info-area {
  width: inherit;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 116px;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 99;
}

.info-area span {
  margin: 0px 5px;
}

.info-area span i {
  color: rgba(0, 0, 0, 0.5);
}

.bar {
  border-top: rgba(0, 0, 0, 0.1) solid 2px;
  margin: 20px 0px;
}

.user-component-ch .user-component__column:last-child {
  color: rgba(0, 0, 0, 0.3);
}

