

.user-component-more{
  margin-bottom: 50px;
}


.more-sugestions {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-top: solid 2px rgba(0, 0, 0, 0.1);
}

.more-sugestions >span{
  padding: 20px 0px;
}

.more-sugestions .icons > div {
  width: 20vw;
  height: 120px;
}

.icons-more span {
  color: rgba(0, 0, 0, 0.7);
}

.icons-more .icon{
  position: relative;
}
.icons-suggestion{
  width: 100%;
}
.icons-suggestion span {
  color: rgba(0, 0, 0, 0.6);
}

/*make suggestion icon useing background color*/
.icons-suggestion .icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 70px;
  height: 70px;

  border-radius: 20%;

  background-color: var(--costoms-color);
}
.icons-suggestion .icon{
  margin: 5px;
}

.icons-suggestion .icon-box span {
  font-weight: 800;
  color: saddlebrown;
  margin: 0px;
  text-align: center;
}

/* add exclamation*/
#exclamation {
  background-color: whitesmoke;
  margin-left: 10px;
  color: tomato;
}

.add-exclamation{
  display: flex;

  align-items: center;
  overflow: hidden;
}

.dot{
  position: absolute;
  top: -5px;
  right: 15px;
  width: 8px;
  height: 8px;
  background-color: tomato;

  border-radius: 50%;
}

.screen-header__icons{
  position: relative;
}
.header-dot{
  right: -5px;
  top:-5px;
}