.setting{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    padding: 0px var(--horizontal-padding);

    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}

.settings-part{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.settings-part:last-child{
    border-bottom:none;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.setting:last-child{
    border-bottom: none;
}

.setting span:first-child{
    display: flex;

    align-items: center;

    font-size: 20px;
    opacity: 1;
    z-index: inherit;

    display: flex;
}
.setting span:first-child i{
    margin-right: 20px;

}
.setting>span:last-child{
    font-size: 16px;
    opacity: 0.5;
}
.setting>span:first-child .badge__settings{
    font-size: 13px;
    margin-left: 10px;
}